<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main>
  <div>로그인</div>
  <div>
    <form method="post" action="/doLogin">
      <div class="form__list">
        <label for="userID">ID: </label>
        <input type="text" id="userID" name="userID" placeholder="INPUT YOUR ID" required/>
      </div>

      <div class="form__list">
        <label for="userPassword">PASSWORD: </label>
        <input type="password" id="userPassword" name="userPassword" placeholder="INPUT YOUR PASSWORD" required/>
      </div>

      <div class="checkbox__form">
        <label for="save">AUTO LOGIN: </label>
        <input id="save" type="checkbox" name="save"/>
      </div>
      <input type="submit" name="submit" value="Submit">
    </form>
  </div>
  <div>👉🏻<a href="/goSignUp"><b>회원 가입</b></a></div>
</main>
</body>
</html>